    .main {
            margin: auto;
            width: 60%;
        }

	.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0px;
        overflow: hidden;
        background-color: #653D3D;
        position: static;
        top: 0.5em;
        margin-left: 0px;
    }

    .list {
        float: left;
        text-align: center;
        display: inline-block;
    }

    .list, a {
        display: block;
        color: white;
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;
        margin-left: 15px;
    }

    .list:hover, a:hover {
    	color: black;
    	font-style: italic;
    	background-color: #bc8f8f;
    }

    body {
        font-family: bahnschrift;
    }

        .container {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background-color: #EDEDED;
        }

        .bigtitle {
            font-size: 80px;
            text-align: center;
        }
    
     .blogpost {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #968484;
        position: relative;
        margin-left: 0px;
        text-align: left;
        }

        .blogtext {
        display: block;
        color: white;
        text-align: center;
        padding: 0px 10px;
        text-decoration: none;
        display:inline-block ;
        }

        .blogs {
              padding: 0;
              margin: 0;
              list-style: none;
              display: flex;
              
              flex-flow: row wrap;
              justify-content: space-between;
    }

        .flexy {
            padding: 10px;
            margin: auto;
            width: 320px;
            height: 212px;
        }
        .flexy:hover {
            padding: 10px;
            margin: auto;
            width: 360px;
            height: 240px;
        }

        .flexi {
            padding: 10px;
            margin: auto;
            width: 320px;
            height: 213px;
        }

        .flexi:hover {
            padding: 10px;
            margin: auto;
            width: 360px;
            height: 240px;
        }

        .bloginfo {
            margin-left: 10px;
        }

        .footerpic {
            margin-left: 12cm;
            margin-top: 10px;
            width: 220px;
            height: 75px;
        }

        .footertext {
            margin-left: 12cm;
        }