body {
    font-family: "Arial", "sans-serif";
    font-size: 16px;
}
#container {
    margin: 0 auto;
    width: 80%;
}
.header {
    display: flex;
    justify-content: flex-start;
    background-color: #3a0088;
    border-bottom: solid;
    border-color: grey;
}

.header>div {
    background-color: #ffbd39;
    width: 120px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    border-radius: 3px;
    animation-name: example;
    animation-duration: 4s;

}
.panel {
	border: solid;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
}

